<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conference service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">

    <div th:each="room : ${rooms}">
        <span th:text="${room.name}">Room name...</span>
        <div th:each="presentation : ${room.presentations}">
            <span th:text="${presentation.name}">presentation name...</span>
            <div th:each="user : ${presentation.users}">
                <span th:text="${user.name}">user name</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>