<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conference service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"> Conferences service </a>
            <ul class="nav">
                <li ><a th:href="@{/}" href="home.html"> Home </a></li>
                <li sec:authorize="hasRole('ROLE_PRESENTER')"><a th:href="@{/presentations}" href="presentations"> Presentations </a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}" href="login"> Login </a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" href="logout"> Logout </a></li>
            </ul>
        </div>
    </div>


</div>

</body>
</html>